@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-star-background {
  background: #000;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.6) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 1px);
  background-size: 50px 50px, 30px 30px;
  background-position: 0 0, 25px 25px;
  animation: twinkle 1.5s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
